<?xml version="1.0" encoding="UTF-8"?>
<beans  xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:context="http://www.springframework.org/schema/context"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <bean id="materialsRepo"
          class="org.massonus.repo.AdditionalMaterialsRepo">
    </bean>

    <bean id="materialsService"
          class="org.massonus.service.AdditionalMaterialsService">
            <constructor-arg ref="materialsRepo"/>
    </bean>

    <bean id="materialsView"
          class="org.massonus.view.AdditionalMaterialsView">
        <constructor-arg ref="materialsService"/>
        <constructor-arg ref="lectureService"/>
    </bean>

    <bean id="homeworkRepo"
          class="org.massonus.repo.HomeworkRepo">
    </bean>

    <bean id="homeworkService"
          class="org.massonus.service.HomeworkService">
        <constructor-arg ref="homeworkRepo"/>
    </bean>

    <bean id="homeworkView"
          class="org.massonus.view.HomeworkView">
        <constructor-arg ref="homeworkService"/>
        <constructor-arg ref="lectureService"/>
    </bean>

    <bean id="lectureRepo"
          class="org.massonus.repo.LectureRepo">
    </bean>

    <bean id="lectureService"
          class="org.massonus.service.LectureService">
        <constructor-arg ref="lectureRepo"/>
        <constructor-arg ref="materialsService"/>
        <constructor-arg ref="homeworkService"/>
        <constructor-arg ref="personService"/>
    </bean>

    <bean id="lectureView"
          class="org.massonus.view.LectureView">
        <constructor-arg ref="lectureService"/>
    </bean>

    <bean id="personRepo"
          class="org.massonus.repo.PersonRepo">
    </bean>

    <bean id="personService"
          class="org.massonus.service.PersonService">
        <constructor-arg ref="personRepo"/>
    </bean>

    <bean id="personView"
          class="org.massonus.view.PersonView">
        <constructor-arg ref="personService"/>
    </bean>

    <bean id="courseRepo"
          class="org.massonus.repo.CourseRepo">
    </bean>

    <bean id="courseService"
          class="org.massonus.service.CourseService">
    </bean>


</beans>