<?xml version="1.0" encoding="UTF-8"?>
<beans  xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:context="http://www.springframework.org/schema/context"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <bean id="materialsRepo"
          class="org.massonus.repo.AdditionalMaterialsRepo">
    </bean>

    <bean id="materialsService"
          class="org.massonus.service.AdditionalMaterialsService">
            <constructor-arg ref="materialsRepo"/>
    </bean>

    <bean id="materialsView"
          class="org.massonus.view.AdditionalMaterialsView">
        <constructor-arg ref="materialsService"/>
    </bean>

</beans>